@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*
-----------------------------------------------------------------------
base tags setting
-----------------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  line-height: normal;
}
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: bottom;
}

iframe {
  border: none;
}

ul, ol {
  list-style: none;
}

br {
  letter-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*
-----------------------------------------------------------------------
common
-----------------------------------------------------------------------
*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333333;
  background: #ecf2fb;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

h1, h2, h3, h4, h5, h6, li, dt, dd, th, td, p, address, select, option, input, textarea {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #333333;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #999999;
}

/*-- スペース共通 --*/
.mr0 {
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.mt0 {
  margin-top: 0px;
}

.pr0 {
  padding-right: 0px;
}

.pl0 {
  padding-left: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.pt0 {
  padding-top: 0px;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt5 {
  margin-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt5 {
  padding-top: 5px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt15 {
  margin-top: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pt15 {
  padding-top: 15px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt20 {
  padding-top: 20px;
}

.mr25 {
  margin-right: 25px;
}

.ml25 {
  margin-left: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.mt25 {
  margin-top: 25px;
}

.pr25 {
  padding-right: 25px;
}

.pl25 {
  padding-left: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.pt25 {
  padding-top: 25px;
}

.mr30 {
  margin-right: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt30 {
  padding-top: 30px;
}

.mr35 {
  margin-right: 35px;
}

.ml35 {
  margin-left: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.mt35 {
  margin-top: 35px;
}

.pr35 {
  padding-right: 35px;
}

.pl35 {
  padding-left: 35px;
}

.pb35 {
  padding-bottom: 35px;
}

.pt35 {
  padding-top: 35px;
}

.mr40 {
  margin-right: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt40 {
  margin-top: 40px;
}

.pr40 {
  padding-right: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt40 {
  padding-top: 40px;
}

.mr45 {
  margin-right: 45px;
}

.ml45 {
  margin-left: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.mt45 {
  margin-top: 45px;
}

.pr45 {
  padding-right: 45px;
}

.pl45 {
  padding-left: 45px;
}

.pb45 {
  padding-bottom: 45px;
}

.pt45 {
  padding-top: 45px;
}

.mr50 {
  margin-right: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}

.pr50 {
  padding-right: 50px;
}

.pl50 {
  padding-left: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.pt50 {
  padding-top: 50px;
}

/*-- 横幅 --*/
.wd5 {
  width: 5%;
}

.wd10 {
  width: 10%;
}

.wd15 {
  width: 15%;
}

.wd20 {
  width: 20%;
}

.wd25 {
  width: 25%;
}

.wd30 {
  width: 30%;
}

.wd35 {
  width: 35%;
}

.wd40 {
  width: 40%;
}

.wd45 {
  width: 45%;
}

.wd50 {
  width: 50%;
}

.wd55 {
  width: 55%;
}

.wd60 {
  width: 60%;
}

.wd65 {
  width: 65%;
}

.wd70 {
  width: 70%;
}

.wd75 {
  width: 75%;
}

.wd80 {
  width: 80%;
}

.wd85 {
  width: 85%;
}

.wd90 {
  width: 90%;
}

.wd95 {
  width: 95%;
}

.wd100 {
  width: 100%;
}

/*-- 回り込み解除 --*/
.clear {
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

/*-- テキスト --*/
.red-txt {
  color: #FF0000;
}

.small-txt {
  font-size: 1rem;
}

.bold-txt {
  font-weight: bold;
}

.al-c {
  text-align: center;
}

.al-l {
  text-align: left;
}

.al-r {
  text-align: right;
}

.fs10 {
  font-size: 10px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.img-bg {
  display: block;
  height: 0;
  overflow: hidden;
}

.hover:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/*-- トップへ戻る CSS自由に調整してください --*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
}
#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  background: #999;
}
