body {
    background-color: #cdcdcd;
    font-family: Helvetica, Arial, sans-serif;
}

textarea {
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 70%;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

textarea:focus {
    border: 3px solid #3498db;
}

#container {
    width: 50%;
    margin: 0 auto;
}

button {
    width: 30%;
    border: #fbfbfb solid 2px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:disabled {
    background-color: #d1736d
}

td {
    border-top: 1px solid black;
}
div:{
    border: 2px #080;
    width: 50;
    margin-bottom: 50;
    margin-left: 50;
    margin-right: 50;
    margin-top: 50;
    
}
image:{
    border-image: inherit;
    border-bottom-color: #000;
    margin-bottom: 200px;
    margin-left: 500px;
    margin-right: 200px;
    margin-top:200px;
}
